* {
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
}

#header-nav {
    margin: 0;
    padding: 0;
}

#navbar-header {
    margin: 0;
    padding: 0;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

#pgTitle {
    text-align: center;
    color: #F2D680;
}

.glyphicon-menu-hamburger{
    color: #F2D680;
}

.label {
    text-align: center;
    font-size: 24px;
    color: #E8C3AC;
}

.container {
    background-color: #464646;
    color: #B89A88;
    border-radius: 5px;
    margin: 1% 0 1% 0;
}

/*** Medium devices: DESKTOP. ***/
@media (min-width: 992px) {
    #logo_text1 {
        font-family: 'Satisfy', cursive;
        font-size: 80px;
        font-style: italic;
        color: #F2D680;
    }
    
    #logo_text2 {
        margin: -36px 0 0 355px;
        font-size: 20px;
        font-style: normal;
        color: #F2D680;
    }

    body {
        background-color: #0D0D0D;
        padding: 0 1.5% 0 1.5%;
        /* padding-top: 70px; */ /*There should be some top padding for the body so the nav-bar doesn't overlay*/
    }
}

/*** Small devices: TABLET ***/
@media (min-width: 768px) and (max-width: 991px) {
    #logo_text1 {
        font-family: 'Satisfy', cursive;
        font-size: 80px;
        font-style: italic;
        color: #F2D680;
    }
    
    #logo_text2 {
        margin: -36px 0 0 355px;
        font-size: 20px;
        font-style: normal;
        color: #F2D680;
    }

    body {
        background-color: #0D0D0D;
        padding: 0 1.5% 0 1.5%;
        /* padding-top: 70px; */ /*There should be some top padding for the body so the nav-bar doesn't overlay*/
    }
}

/*** ExtraSmall devices: MOBILE ***/
@media (max-width: 767px) {
    #logo_text1 {
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        font-style: italic;
        color: #F2D680;
    }
    
    #logo_text2 {
        margin: -12.5px 0 0 137.5px;
        font-size: 7.25px;
        font-style: normal;
        color: #F2D680;
    }

    body {
        background-color: #0D0D0D;
        padding: 0 12.5% 0 12.5%;
        /* padding-top: 70px; */ /*There should be some top padding for the body so the nav-bar doesn't overlay*/
    }
}